.place {
  display: grid;
  grid-template-areas:
    "title url"
    "image text";
  grid-template-columns: minmax(460px, 1fr) 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) 1fr;
    column-gap: 16px;
    margin-bottom: 71px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    grid-template-areas:
      "title"
      "url"
      "image"
      "text";
    grid-template-columns: 1fr;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}